language: android
before_install:
  - chmod +x gradlew
cache:
  directories:
    - ${TRAVIS_BUILD_DIR}/gradle/caches/
    - ${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/
env:
  global:
    - ANDROID_API_LEVEL=25
    - EMULATOR_API_LEVEL=23
    - ANDROID_BUILD_TOOLS_VERSION=25.0.0
    - ANDROID_ABI=google_apis/armeabi-v7a
    - ADB_INSTALL_TIMEOUT=20 # minutes (2 minutes by default)
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-25.0.0

    # The SDK version used to compile your project
    - android-21
    - android-23
    - android-25
    - extra
install:
  - ./gradlew assemble

script:
  - ./gradlew :trustedshops-android-sdk:test -i